.data-policy {
  margin: 4em auto;
  max-width: 1200px;
}

.data-policy a,
.data-policy h1 {
  color: var(--main-primary-color);
}

.data-policy-link,
.data-policy-link:hover {
  color: var(--main-primary-color);
}
