/*----FontAwesome-------*/
// @import "../fonts/font-awesome/css/font-awesome.min.css";
@import "bootstrap/dist/css/bootstrap.css";

@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700");

// Style Scss
@import "main/modal";
@import "main/portfolio-modal";
@import "main/portfolio";
@import "main/404";
@import "main/slick";
@import "main/switcher";
@import "main/style";
@import "main/data-policy";

// skin
@import "main/skins/yellow";

.form-check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.form-check-label {
  padding-top: 0.7px;
}

.form-check-input {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--main-primary-color);
  border-color: var(--main-primary-color);
}

.form-check-input:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.tab-list-contact {
  list-style-type: none;
}

.servie-header {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .servie-header {
    width: 50%;
  }
}

.portfolio-title {
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-primary-color);
}

.service-title {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  color: var(--main-primary-color);
}
